.header{
    height: 15vh;
    background-color: #FE0201;
}
.img-bokebola{
    position: absolute;
    top:4%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: transform 0.5s;
}
footer{
    height: 5vh;
    background-color: #FE0201;
}